<p id="notice"><%= notice %></p>

<h2>Book Summary</h2>
<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @book.desc %>
</p>

<p>
  <strong>Total Pages:</strong>
  <%= @book.total_page %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %> |

<%= link_to "Add Bookmark", new_bookmark_path(book_id: @book.id) %>

<h2>Progress Update</h2>

<div class="container">
  <h3><%= @progress_bar %> % of the book complete
  </h3>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:<%= @progress_bar%>%">
    </div>
  </div>
</div>

<h3>Progress Chart</h3>
<%= @progress_line %>

<h4> Current Bookmarks: </h4>
<% @book.bookmarks.each do |bookmark| %>
  <p>Some notes about this book mark: <%= bookmark.note %></p>
  <p>made on: <%= bookmark.entry_date %></p>
  <p>Current on: <%= bookmark.page %></p>
  <p>Current progress: <%= bookmark.progess %></p>
  <%= link_to 'See total progress', book_bookmarks_url(bookmark) %>

<% end %>

