<!DOCTYPE html>
<html>
  <head>
    <title>BookApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_include_tag 'application', 'Chart.bundle', 'chartkick', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <%= nav_bar fixed: :top, brand: "Book Marks" do %>
      <%= menu_group do %>
        <%= menu_item "All Books", books_path %>
      <%= menu_item "Existing bookmarks", bookmarks_path %>

      <%= menu_item "About Us", root_path %>
        <%= menu_item "Contact", root_path %>
      <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
